

  
#img1{
  width: 10vw;
  height: 10vw;
  src: url("https://preview.redd.it/akiinn6djtd21.jpg?auto=webp&s=52cd4cd252e44b0c06e80d190edb032e39492a76");
}
  
.button{
  flex: 0 0 calc((100% / 3) - 30px); 
  background-color: cyan;
  padding: 10px;
  margin: 15px;
  border: 1px solid gray;
  text-align: center;
  transition: background-color 0.3s ease;

}
/* skapar on hover effect */
.button:hover{
  background-color: violet;
}
#container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-content: flex-start;
  background-color: beige;
  padding: 10px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 35vw;
  height: 35vh;
  transform: translate(-50%, -50%);
}