/* reset */
.navbar > ul {
    margin: 0;
    list-style: none;
    list-style: disc;
}

/* layout */
.navbar {
    display: flex;
    justify-content: space-between;
    
    /* padding: 0.5rem 0; */
    padding: 4vw;
}


/* style */

body {
    font-family: sans-serif;
    font-size: 1.2rem;
}

.brand{
    fill: currentColor;
    color: green;
    justify-content: left;
}